<form method='post' action= '/'>
  <input type='text' name='product' id='product' />
  <input type='submit' value='add to cart' />
</form>
<br>
<br>

Your current cart contains:<br>
<ul>
  <% cart.each do |c| %>
    <li><%= c %>
  <% end %>
</ul>
